{% extends 'base.html' %}

{% block conteudo %}

<style>
.formulario {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    height: 100%;
    margin-bottom: 50px;
}

#titulo {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Roboto';
}
</style>
<h1 id="titulo">Adicionar Livro</h1><br>
<div class="formulario">
<form action="{% url 'form' %}" method="post">
    {% csrf_token %}
    <div class="row gap-2">
        <div class="col-6 col-md-4 col-xl-3">
            {{form.titulo}}
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            {{form.imagem}}
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            {{form.editora}}
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            {{form.preco}}
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            {{form.descricao}}
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            {{form.autor}}
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            {{form.genero}}
        </div>
        <div class="col-12 m-2">
            <button class="btn btn-primary float-top">Adicionar</button>
        </div>
    </div>
</form>
</div>

{% endblock conteudo %}