{% extends 'base.html' %}

{% block conteudo %}

<style>

.container-livro{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  color: black;
  padding: 20px;
  margin-bottom: 140px;
}

.card-text{
  font-size: 12px;
}

</style>
<div class="container-livro">
{% for t in livro  %}

<div class="card mx-3 mb-3" style="width: 7rem;">
  {% load static %}
    <img src="{% static t.imagem %}" class="card-img-top" alt="..." height="110px">
    <div class="card-body">
      <h4 class="card-text"> Titulo {{t.titulo}}</h4>
    </div>
  </div>
{% empty %}
  <div> Ainda não há Títutlos cadastrados. </div>
{% endfor %}
</div>
{% endblock conteudo %}

</main>

