{% extends 'base.html' %}

{% block conteudo %}

<style>
  :root {
      --bs-secondary-color: 030000;
      --bs-secondary-color-rgb: 0, 0, 0;
        }
.container {
  height: 100vh;
  width: 100vh;
  color: bla;
  margin: auto ;
}

.topo-site  {
  background-color: black;
  padding: 30px;
}


</style>

<div class="container">
<h1>Store</h1>

<ul>
    {% for l in livro %}
        <li>{{ l }}</li>
    {% empty %}
        <li>Nenhum livro cadastrado</li>
    {% endfor %}
</ul>
{% endblock conteudo %}
</div>
</main>

